:root {
    --clr-neutral-900: hsl(227, 75%, 14%);
    --clr-neutral-800: hsl(226, 25%, 17%);
    --clr-neutral-700: hsl(225, 23%, 24%);
    --clr-neutral-600: hsl(226, 11%, 37%);
    --clr-neutral-300: hsl(0, 0%, 78%);
    --clr-neutral-200: hsl(217, 61%, 90%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral-000: hsl(200, 60%, 99%);

    --clr-red-400: hsl(3, 86%, 64%);
    --clr-red-500: hsl(3, 71%, 56%);
    --clr-red-700: hsl(3, 77%, 44%);

    --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

    --font-main: "Noto Sans", sans-serif;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;

    --text-base: 1rem;
    --text-md-1: 1.125rem;
    --text-md-2: 1.25rem;
    --text-lg: 2rem;

    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
}
