.btn {
    line-height: var(--leading-tight);
    padding-block: var(--space-2);
    padding-inline: calc(var(--space-4));
    border-radius: var(--rounded-full);
    background-color: transparent;
    font-weight: var(--font-medium);
    border: 1px solid var(--card-border);
    color: var(--color-heading);
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

@media (hover: hover) {
    .btn:hover {
        background-color: var(--color-red-700);
        color: var(--color-neutral-000);
        border-color: var(--color-red-700);
    }
}
