.switch {
    --thumb-size: 1rem;
    --track-padding: 0.125rem;
    --track-width: calc(calc(var(--thumb-size) * 2) + calc(var(--track-padding) * 2));
    --track-height: calc(calc(var(--thumb-size) + calc(var(--track-padding) * 2)));

    display: block;
    position: relative;
    cursor: pointer;
    border-radius: var(--rounded-full);
    padding: var(--track-padding);
    width: var(--track-width);
    height: var(--track-height);

    &__thumb {
        position: relative;
        display: block;
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: inherit;
        background-color: var(--color-neutral-000);
        z-index: 999;
        transition: 200ms ease;
        pointer-events: none;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &__track {
        display: block;
        border-radius: inherit;
        position: absolute;
        inset: 0;
        background-color: var(--track-surface);
        transition-property: background-color;
        transition-timing-function: ease;
        transition-duration: 200ms;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__input:checked + &__track {
        background-color: var(--track-surface-active);

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-red-400);
            }
        }
    }

    &__input:checked + * + &__thumb {
        margin-inline-start: var(--thumb-size);
    }

    &__input:focus-visible + &__track {
        outline: var(--focus-outline-width) var(--focus-outline-style) var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }
}

[data-theme="light"] .switch {
    --track-surface: var(--color-neutral-300);
    --track-surface-active: var(--color-red-700);
}

[data-theme="dark"] .switch {
    --track-surface: var(--color-neutral-600);
    --track-surface-active: var(--color-red-500);
}
