.theme-btn {
    --surface: var(--color-neutral-100);
    --surface-hover: var(--color-neutral-300);

    position: relative;
    border-radius: calc(var(--rounded-2xl) - 0.25rem);
    padding: calc(var(--space-4) - 0.125rem);
    background-color: var(--surface);
    transition: background-color 200ms ease;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--surface-hover);
        }
    }

    &:active {
        transform: scale(0.95);
    }

    img {
        pointer-events: none;
        user-select: none;
    }

    &__input {
        pointer-events: none;
        opacity: 0;
        position: absolute;

        & + img {
            display: block;
        }

        &:checked + img {
            display: none;
        }

        &:checked + img + img {
            display: block;
        }
    }
}

[data-theme="light"] {
    .theme-btn img:nth-child(1) {
        display: initial;
    }
}

[data-theme="dark"] {
    .theme-btn {
        --surface: var(--color-neutral-700);
        --surface-hover: var(--color-neutral-600);
    }

    .theme-btn img:nth-child(2) {
        display: initial;
    }
}
