.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@supports selector(:focus-within) {
    .focusable {
        input:focus {
            outline: none;
        }
    }
    .focusable:focus-within {
        outline: 0.125rem solid var(--clr-red-400);
        outline-offset: 0.125rem;
    }
}
