.browser-extension-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: grid;
    gap: var(--space-3);
    &--empty {
        width: 100%;
        position: absolute;
        font-style: italic;
        border-top: 1px solid var(--bg-neutral-400);
        padding-top: var(--space-6);
        text-align: center;
    }
}
