.btn {
    line-height: var(--leading-tight);
    padding: var(--space-2) calc(var(--space-4));
    border-radius: var(--rounded-full);
    background-color: transparent;
    font-weight: var(--font-medium);
    border: 1px solid var(--bg-neutral-400);
    color: var(--text-clr-heading);
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

@media (hover: hover) {
    .btn:hover {
        background-color: var(--clr-red-700);
        color: var(--clr-neutral-000);
        border-color: var(--clr-red-700);
    }
}
