.switch {
    --thumb-size: 1rem;
    --track-padding: 0.125rem;
    --track-width: calc(calc(var(--thumb-size) * 2) + calc(var(--track-padding) * 2));
    --track-height: calc(calc(var(--thumb-size) + calc(var(--track-padding) * 2)));

    display: block;
    position: relative;
    cursor: pointer;
    border-radius: var(--rounded-full);
    padding: var(--track-padding);
    width: var(--track-width);
    height: var(--track-height);

    * {
        pointer-events: none;
    }

    &__thumb {
        position: relative;
        display: block;
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: inherit;
        background-color: var(--clr-neutral-000);
        z-index: 999;
        transition: 200ms ease;
    }

    &__track {
        display: block;
        border-radius: inherit;
        position: absolute;
        inset: 0;
        background-color: var(--bg-neutral-400);
        transition: 200ms ease;
    }

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__input:checked + &__track {
        background-color: var(--clr-red-700);
    }

    &__input:checked + * + &__thumb {
        margin-left: var(--thumb-size);
    }
}

@media (hover: hover) {
    .switch:hover {
        switch__track {
            background-color: var(--clr-red-400);
        }
        switch__input:checked + switch__track {
            background-color: var(--clr-red-400);
        }
    }
}
@supports selector(:focus-within) {
    .switch:focus-within {
        outline: var(--focus-outline-width) var(--focus-outline-style) var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }
}
