.theme-btn {
    cursor: pointer;
    position: relative;
    border-radius: calc(var(--rounded-2xl) - 0.25rem);
    padding: calc(var(--space-4) - 0.125rem);
    transition: transform 200ms ease;
    background-color: var(--color-neutral-100);

    &:active {
        transform: scale(0.95);
    }

    img {
        pointer-events: none;
        user-select: none;
    }

    &__input {
        pointer-events: none;
        opacity: 0;
        position: absolute;

        & + img {
            display: block;
        }

        &:checked + img {
            display: none;
        }

        &:checked + img + img {
            display: block;
        }
    }
}

[data-theme="light"] {
    .theme-btn img:nth-child(1) {
        display: initial;
    }
}

[data-theme="dark"] {
    .theme-btn {
        background-color: var(--color-neutral-700);
    }

    .theme-btn img:nth-child(2) {
        display: initial;
    }
}
